exportClasses(CNVDetectionResult)
export(cn.mops)
export(exomecn.mops)
export(getReadCountsFromBAM)
export(getSegmentReadCountsFromBAM)
export(haplocn.mops)
exportMethods(calcFractionalCopyNumbers)
exportMethods(calcIntegerCopyNumbers)
exportMethods(cnvr)
exportMethods(cnvs)
exportMethods(gr)
exportMethods(individualCall)
exportMethods(iniCall)
exportMethods(integerCopyNumber)
exportMethods(localAssessments)
exportMethods(makeRobustCNVR)
exportMethods(normalizedData)
exportMethods(params)
exportMethods(plot)
exportMethods(posteriorProbs)
exportMethods(sampleNames)
exportMethods(segmentation)
exportMethods(segplot)
exportMethods(show)
export(normalizeChromosomes)
export(normalizeGenome)
export(referencecn.mops)
export(segment)
export(singlecn.mops)
importFrom(GenomicRanges,values)
importFrom(graphics,plot)
importFrom(IRanges,as.data.frame)
importFrom(IRanges,as.list)
importFrom(IRanges,as.matrix)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,IRanges)
importFrom(IRanges,setdiff)
importFrom(IRanges,sort)
importFrom(IRanges,width)
importFrom(methods,show)
importFrom(Rsamtools,countBam)
importFrom(Rsamtools,scanBam)
importFrom(Rsamtools,scanBamFlag)
importFrom(Rsamtools,scanBamHeader)
importFrom(Rsamtools,ScanBamParam)
useDynLib(cn.mops)
